House Price Pridicitons

1. Importing libraries and Dataset

In [15]:
#Required Libraries
import numpy as np
import sklearn 
import pandas as pd

In [16]:
#Data importing
train = pd.read_csv(r'F:\Project1\Dataset\house-prices-advanced-regression-techniques\train.csv')
test = pd.read_csv(r'F:\Project1\Dataset\house-prices-advanced-regression-techniques\test.csv')

2. EDA

In [30]:
train_data = train.copy()

In [22]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [95]:
#2.1 checking for Missing values

features = list(train_data.columns)
for feature in features:
    result = train_data[feature].isnull().mean()
    #result = train_data[feature].isnull().sum()
    if result > 0 :
        #print ('The count of missing values in {} : {} '.format(feature,str(result)))
        print ('The missing value of {} : {}% '.format(feature,str(round((result),3))))

The missing value of LotFrontage : 0.177%
The missing value of Alley : 0.938%
The missing value of MasVnrType : 0.005%
The missing value of MasVnrArea : 0.005%
The missing value of BsmtQual : 0.025%
The missing value of BsmtCond : 0.025%
The missing value of BsmtExposure : 0.026%
The missing value of BsmtFinType1 : 0.025%
The missing value of BsmtFinType2 : 0.026%
The missing value of Electrical : 0.001%
The missing value of FireplaceQu : 0.473%
The missing value of GarageType : 0.055%
The missing value of GarageYrBlt : 0.055%
The missing value of GarageFinish : 0.055%
The missing value of GarageQual : 0.055%
The missing value of GarageCond : 0.055%
The missing value of PoolQC : 0.995%
The missing value of Fence : 0.808%
The missing value of MiscFeature : 0.963%